body {
    padding-top: 60px;
    padding-bottom: 40px;
}
.sidebar-nav {
    padding: 9px 0;
}
.buttonPanel {
    margin-bottom: 2ex;
}
.pagesNavPanel {
    text-align: right;
}
.checkboxList span label {
    display: inline;
    margin-left: 1em;
}
.checkboxList span {
    display: block;
    margin-bottom: 1ex;
}
#ui-datepicker-div {
    background-color: #eee;
}
#mapContainer img {
    max-width: none !important;
}
div.dropdown-menu {
    padding: 0.5em;
}
#changeWorkflowStateModal {
    width: 800px;
}
.light {
    color: #888;
}
.light a {
    color: #888;
}