<?xml version="1.0" encoding="UTF-8"?>

<web-app
        xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
        xsi:schemaLocation="
        http://java.sun.com/xml/ns/javaee
        http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
        version="2.5">

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:applicationContext.xml</param-value>
    </context-param>

    <filter>
        <display-name>Application init filter</display-name>
        <filter-name>applicationInitFilter</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
        <init-param>
            <param-name>targetFilterLifecycle</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <listener>
        <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
    </listener>

    <listener>
        <listener-class>cz.clovekvtisni.coordinator.server.web.ContextInitializer</listener-class>
    </listener>

    <filter>
        <filter-name>DisableUrlSessionFilter</filter-name>
        <filter-class>cz.clovekvtisni.coordinator.server.web.filter.DisableUrlSessionFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>DisableUrlSessionFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>applicationInitFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


    <servlet>
        <servlet-name>mvc</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>mvc</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
   		<welcome-file>index.jsp</welcome-file>
   	</welcome-file-list>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>secured API</web-resource-name>
            <url-pattern>/api/v1/secure/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <roleId-name>admin</roleId-name>
        </auth-constraint>
    </security-constraint>

</web-app>
